html, body {
  overflow: hidden;
  margin: 0px;
  height: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
}
.high-score-container,
.total-coins-container,
.coins-container,
.scores-container {
    position: absolute;
    top: 0;
    color: #F2E205;
    right: 0;
    padding: 0px 50px ;
    background-color: #00000063;
    display: none;
}
.high-score-container,
.coins-container {
  margin-top: 40px;
}

.coins-container h3,
.scores-container h3 {
margin:.5rem;
}
.pause-button, .home-menu {
  position: absolute;
  left: 0;
  top: 0;
  margin: 20px 10px;
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-body {
  background-color: #BA4D31;
  margin: 50px auto;
  padding: 10px;
  border: 10px solid #2C0604;
  width: 300px;
  opacity: 0.8;
  color: #2C0604;
}

.btn, .btn-icon-only, .btn-two {
background-color: #2C0604;
border: none;
color: #BA4D31;
padding: 12px 12px 12px 0;
font-size: 16px;
cursor: pointer;
margin: 5px;
}
.btn-two {
  padding: 12px 0 12px 12px;
}
.btn-icon-only {
  padding: 0px;
  color:#F2E205;

}

.btn-icon {
  background-color: #4e2828;
  padding: 12px;
}

.btn:hover {
  opacity: .9;
}
#game-paused-modal {
  display: none;
  text-align: center;
}


#game-over-modal {
  text-align: center;
}
#game-over-modal h1 {
  font-size: 1.5rem;
  margin: 0;
}
#game-over-modal p {
  font-size: 1.3rem;
  margin: 0.8rem;
}

.disable-touch {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}

.loading-container{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-container img{
  width: 200px;
}

/* Main Menu buttons */
#main-menu-buttons {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  text-align: center;
  display: none;
}
#main-menu-buttons button {
  margin-bottom: 20px;
}

#character-price-button {
  display: none;
}

.character-selection-buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
  display: flex;
}

.character-name {
  text-align: center;
  color: #F2E205;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 80px;
  display: block;
}

#character-price-button {
  display: none;
}

#character-selection-container {
  display: none;
}

.auth-button{
  position: absolute;
  left: 0;
  top: 0;
  margin: 30px 10px;
  display: none;
}
#sign-up-modal {
  display: none;
}
#sign-in-modal {
  display: none;
}

.form{
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}

input{
  padding: 8px;
  margin-bottom: 5px;
}
.form p {
  text-align: left;
  margin: .5rem 0;
  color: black;
  font-weight: 500;
}
.close {
text-align: right;
cursor: pointer;
font-weight: 700;
}
.close h2, .form h2{
  margin: 0;
}

.form h2 {
  margin-bottom: 10px;
}

#sign-out-button{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  margin: 20px;
}

#score-board-button{
  margin: 150px 10px;
  right: 0;
  display: none;
  position: absolute;
  top: 0;
}

#high-scores-modal{
  display: none;
}

#high-scores-modal .modal-body{
margin-top: 0;
}

#high-scores-modal h3{
  text-align: center;
  font-size: 1.5rem;

}

#rank-table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  color: aliceblue;
}
.close-highscores-modal{
  margin: 0;
}
th, td {
  text-align: left;
  padding: 10px 10px;
}

tr:nth-child(even) {
  background-color: #4e2828
}
#country {
  padding: 8px 0;
}
#about-modal{
  display: none;
}
.about-content{
  text-align: center;
}
